body{
	background: burlywood;
}

#additem_button,#menu_list
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}
#sort_button
{
	display: none;
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
}

.section_view img{
	width: 60% ;
	height: 400px;
}